body {
    background-color: #202020 !important;
    font-family: "Open Sans", sans-serif;
}

#header {
    background-color: #202020;
    text-align: center;
    margin: 5px auto;
    padding: 2px 0px;
}

.navbar { 
    display: flex;
    justify-content:flex-end;
    color: #f8f8f8;
    background-color: #202020;  
    height: fit-content;
}


.nav-link {
    flex: 1 1 auto;
    padding: 5px 0;
    color: #f8f8f8;
    background-color: #202020;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    width: -moz-fit-content;
    transition: 0.2s;
}

.nav-link:hover {
    background-color: #f8f8f8;
    color: #202020;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar li {
    position: relative;
    padding: 10px 0 10px 28px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: end;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    text-align: center;
flex-wrap: wrap;
align-items: center;
}

a {
    text-decoration: none;
    color: #f8f8f8;
}

.navbar-brand {
    text-decoration: none;
    color: #f8f8f8;
    font-size: 20px;
    padding: 5px;
}

.navbar-brand:hover {
    text-decoration: none;
    color: #202020;
    background-color: #f8f8f8;
    padding: 5px;
}

.header-social-links a {
    line-height: 0px;
    font-size: 16px;
}

.navbar-dark .navbar-toggler {
    color: #f8f8f8;
    border-color:#f8f8f8;
    background-color: #202020;
}

#name {
    font-size: 20px;
}